{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>Change Password System</h3>
  <hr>
  <a href="/getotp" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">ลื่มรหัสผ่าน</a>
  <hr>
  <p>Devops and Cloud Engineering - Anh Nguyen</p>
</div>
{% endblock %}