{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>Change Password System</h3>
  <hr>
      <h2>หน้าเว็บเปลี่ยนรหัสผ่าน</h2>
  <hr>
  <p>Devops and Cloud Engineering - Anh Nguyen</p>
</div>
{% endblock %}